<alerts-comp></alerts-comp>

<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <h2>Purchased</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4 col-sm-2  portfolio-header">
      <table class="table table-striped table-bordered">
        <tbody>
          <tr>
            <th>Symbol</th>
          </tr>
          <tr ng-repeat="entry in portfolioComp.purchasedPastData | orderBy:'stock.Symbol':false track by $index">
            <td>
              <a ui-sref="stockState({symbol: entry.stock.Symbol})">{{entry.stock.Symbol}}</a> |
              <i class="fa fa-times red fa-0.5x" aria-hidden="true" ng-click="portfolioComp.deletePurchase(entry._id)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xs-8 col-sm-10 portfolio-tables">
      <table class="table table-striped table-bordered">
        <tbody>
          <tr>
            <th>Name</th>
            <th>Shares</th>
            <th>Last Price</th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Change</th>
            <th>% Change</th>
            <th>Change YTD</th>
            <th>% Change YTD</th>
            <th>Volume</th>
            <th>Market Cap</th>
          </tr>
          <tr ng-repeat="entry in portfolioComp.purchasedPastData | orderBy:'stock.Symbol':false track by $index">
            <td>{{entry.stock.Name}}</td>
            <td>{{entry.quantity}}</td>
            <td>{{entry.stock.LastPrice.toFixed(2)}}</td>
            <td>{{entry.stock.Open.toFixed(2)}}</td>
            <td>{{entry.stock.High.toFixed(2)}}</td>
            <td>{{entry.stock.Low.toFixed(2)}}</td>
            <td>
              {{entry.stock.Change.toFixed(2)}}
              <i ng-if="entry.stock.Change>0" class="fa fa-caret-up green" aria-hidden="true"></i>
              <i ng-if="entry.stock.Change<0" class="fa fa-caret-down red" aria-hidden="true"></i>
            </td>
            <td>
              {{entry.stock.ChangePercent.toFixed(2)}} %
              <i ng-if="entry.stock.ChangePercent>0" class="fa fa-caret-up green" aria-hidden="true"></i>
              <i ng-if="entry.stock.ChangePercent<0" class="fa fa-caret-down red" aria-hidden="true"></i>
            </td>
            <td>
              {{(entry.stock.LastPrice - entry.stock.ChangeYTD).toFixed(2)}}
              <i ng-if="entry.stock.ChangeYTD>0" class="fa fa-caret-up green" aria-hidden="true"></i>
              <i ng-if="entry.stock.ChangeYTD<0" class="fa fa-caret-down red" aria-hidden="true"></i>
            </td>
            <td>
              {{entry.stock.ChangePercentYTD.toFixed(2)}} %
              <i ng-if="entry.stock.ChangePercentYTD>0" class="fa fa-caret-up green" aria-hidden="true"></i>
              <i ng-if="entry.stock.ChangePercentYTD<0" class="fa fa-caret-down red" aria-hidden="true"></i>
            </td>
            <td>{{entry.stock.Volume}}</td>
            <td>{{entry.stock.MarketCap}}</td>
         </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xs-12">
      <p class="text-danger" ng-hide="portfolioComp.purchasedPastData.length>0">Search then click "Buy" to purchase stocks.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <composite-purchased-comp ng-if="portfolioComp.purchasedPastData.length>0"></composite-purchased-comp>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-xs-12">
      <h2>Watchlist</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4 col-sm-2 portfolio-header">
      <table class="table table-striped table-bordered">
        <tbody>
          <tr>
            <th>Symbol</th>
          </tr>
          <tr ng-repeat="entry in portfolioComp.watchlistSymbolsData | orderBy:'Symbol':false track by $index">
            <td>
              <a ui-sref="stockState({symbol: entry.Symbol})">{{entry.Symbol}} </a> |
              <i class="fa fa-times red fa-0.5x" aria-hidden="true" ng-click="portfolioComp.deleteWatchlistItem(entry.Symbol)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xs-8 col-sm-10 portfolio-tables">
      <table class="table table-striped table-bordered">
        <tbody>
         <tr>
           <th>Name</th>
           <th>Last Price</th>
           <th>Open</th>
           <th>High</th>
           <th>Low</th>
           <th>Change</th>
           <th>% Change</th>
           <th>Change YTD</th>
           <th>% Change YTD</th>
           <th>Volume</th>
           <th>Market Cap</th>
         </tr>
         <tr ng-repeat="entry in portfolioComp.watchlistSymbolsData  | orderBy:'Symbol':false track by $index">
          <td>{{entry.Name}}</td>
          <td>{{entry.LastPrice}}</td>
          <td>{{entry.Open}}</td>
          <td>{{entry.High}}</td>
          <td>{{entry.Low}}</td>
          <td>
            {{entry.Change.toFixed(2)}}
            <i ng-if="entry.Change>0" class="fa fa-caret-up green" aria-hidden="true"></i>
            <i ng-if="entry.Change<0" class="fa fa-caret-down red" aria-hidden="true"></i>
          </td>
          <td>
            {{entry.ChangePercent.toFixed(2)}} %
            <i ng-if="entry.ChangePercent>0" class="fa fa-caret-up green" aria-hidden="true"></i>
            <i ng-if="entry.ChangePercent<0" class="fa fa-caret-down red" aria-hidden="true"></i>
          </td>
          <td>
            {{(entry.LastPrice - entry.ChangeYTD).toFixed(2)}}
            <i ng-if="entry.ChangeYTD>0" class="fa fa-caret-up green" aria-hidden="true"></i>
            <i ng-if="entry.ChangeYTD<0" class="fa fa-caret-down red" aria-hidden="true"></i>
          </td>
          <td>
            {{entry.ChangePercentYTD.toFixed(2)}} %
            <i ng-if="entry.ChangePercentYTD>0" class="fa fa-caret-up green" aria-hidden="true"></i>
            <i ng-if="entry.ChangePercentYTD<0" class="fa fa-caret-down red" aria-hidden="true"></i>
          </td>
          <td>{{entry.Volume}}</td>
          <td>{{entry.MarketCap}}</td>
        </tr>
        </tbody>
      </table>

    </div>
    <div class="col-xs-12">
      <p class="text-danger" ng-hide="portfolioComp.watchlistSymbolsData.length>0">Search stocks then click "Watch" to add to Watchlist.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <composite-watchlist-comp ng-if="portfolioComp.watchlistSymbolsData.length>0"></composite-watchlist-comp>
    </div>
  </div>

</div>
