navbar-comp .navbar-inverse{
  background-color: #444;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

.nav-search-submit{
  display: none;
}

.navbar-inverse .navbar-brand{
  color: #5ccf5c;
}

.navbar-inverse .navbar-nav>.active>a{
  background-color: #333;
}

.navbar-inverse .navbar-nav>.active>a:hover{
  background-color: #222;
}

.navbar-form input, .navbar-form button{
  background-color: #555;
  border: 1px solid #444;
  color: #E0E0E3;
}

.navbar-form input:focus{
  background-color: #EEE;
  color: black;
}

.alerts-div{
  margin-top: -20px;
  min-height: 20px;
  background-color: white;
  width: 100vw;
}

.alert-alert{
  margin-bottom: 0;
}

footer-comp{
  position: relative;;
  bottom: 0;
  width: 100%;
}

.footer{
  width: 100%;
  margin-top: 40px;
  color: white;
}

.footer a{
  color: white;
}

.footer a:hover{
  text-decoration: none;
}

.footer-body{
  background-color: #555;
  min-height: 100px;
}

.footer-footer{
  background-color: #444;
  min-height: 50px;
}

.resources{
  padding-bottom: 10px;
}

.contributors{
  padding-bottom: 10px;
}

.footer .fa-1x{
  font-size: 1.2em;
}

.footer .fa-2x{
  font-size: 1.5em;
}

.footer .green-no-hover{
  color: #5ccf5c;
}

.footer .green{
  color: #5ccf5c;
}

.footer .green:hover{
  color: white;
}

.footer .grey{
  color: #lightgrey;
}

.footer .grey:hover{
  color: white;
}

.footer .blue{
  color: lightskyblue;
}

.footer .blue:hover{
  color: white;
}

.footer .black{
  color: black;
}

.footer .black:hover{
  color: white;
}

.footer .lightgrey{
  color: lightgrey;
}

.footer .lightgrey-no-hover{
  color: lightgrey;
}

.footer .lightgrey:hover{
  color: white;
}

.mongo-logo{
  width: 110px;
  padding-right: 5px;
}

.express-logo{
  width: 110px;
  padding-right: 5px;
}

.angular-logo{
  width: 110px;
  padding-right: 5px;
}

.node-logo{
  width: 110px;
  padding-right: 5px;
}
