body{
  background: linear-gradient(#666, #777);
  background-repeat: no-repeat;
  color: white;
}

body button, body input, body .well, body .panel{
  color: black;
}

.chart-list-chart{
  margin: 5px 0;
}

.auth-container{
  max-width: 300px;
}

.search-container{
  max-width: 400px;
}
