body{
  line-height: normal;
  padding-top: 50px;
}

.chartButton{
  height: 1em;
}

.title-content{

}

.chart-list-chart{
  margin: 5px 0;
}

.auth-container{
  max-width: 300px;
}

.search-container{
  max-width: 400px;
}

.green{
  color: #15B942;
}

.red{
  color: red;
}

.portfolio-tables{
  overflow-x: scroll;
  padding-left: 0;
}

.portfolio-header{
  padding-right: 0;
  text-align: left;
}

.portfolio-tables th, .portfolio-tables td{
  white-space: nowrap;
  padding: 0;
}

.container .row div{
  margin: 0 0 5px 0;
}

.fa-times{
  color: darkred;
}

.fa-times:hover{
  cursor: pointer;
  color: red;
}

.media-object{
  width: 70px;
  height: 70px;
}
