<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>
        {{stockComp.stock.Symbol}}
      </h1>
      <h4>{{stockComp.stock.Name}}</h4>
    </div>
    <div class="col-xs-12">
      <button class="btn btn-xs btn-info" ng-click="stockComp.watch()">Watch</button>
      <button class="btn btn-xs btn-info" ng-click="stockComp.showForm()">Buy</button>
      <strong ng-show="stockComp.showPurchased">{{stockComp.quantity}} purchased</strong>
      <form ng-submit="stockComp.submitBuy()">
        <input ng-show="stockComp.showBuy" ng-model="stockComp.quantity" type="number" required placeholder="quantity"/>
        <input ng-show="stockComp.showBuy" type="submit" class="btn btn-xs btn-success" value = "Submit"/>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <chart-comp></chart-comp>
    </div>
    <div class="col-md-4">
      <p>Trade Day: {{stockComp.stock.Timestamp}}</p>
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>High:</th>
            <td>{{stockComp.stock.High.toFixed(2)}}</td>
          </tr>
          <tr>
            <th>Low:</th>
            <td>{{stockComp.stock.Low}}</td>
          </tr>
          <tr>
            <th>Open:</th>
            <td>{{stockComp.stock.Open}}</td>
          </tr>
          <tr>
            <th>LastPrice:</th>
            <td>{{stockComp.stock.LastPrice}}</td>
          </tr>
          <tr>
            <th>Change:</th>
            <td>{{stockComp.stock.Change.toFixed(2)}}</td>
          </tr>
          <tr>
            <th>Change YTD:</th>
            <td>{{stockComp.stock.ChangeYTD}}</td>
          </tr>
          <tr>
            <th>Change %:</th>
            <td>{{stockComp.stock.ChangePercent.toFixed(2)}}</td>
          </tr>
          <tr>
            <th>Change % YTD:</th>
            <td>{{stockComp.stock.ChangePercentYTD.toFixed(2)}}</td>
          </tr>
          <tr>
            <th>MarketCap:</th>
            <td>{{stockComp.stock.MarketCap}}</td>
          </tr>
          <tr>
            <th>Volume:</th>
            <td>{{stockComp.stock.Volume}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
