<alerts-comp></alerts-comp>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p class="stock-symbol">
        {{stockComp.stock.Symbol}} <span class="stock-name">{{stockComp.stock.Name}}</span>
      </p>

    </div>
    <div class="col-xs-12">
      <button class="btn btn-sm btn-primary"
          ng-hide="stockComp.isWatchingBoolean"
          ng-class="{'disabled' : !stockComp.isLoggedIn()}"
          ng-disabled="!stockComp.isLoggedIn()"
          ng-click="stockComp.watch()"
          >Watch</button>
      <button class="btn btn-sm btn-success"
          ng-hide="!stockComp.isWatchingBoolean"
          ng-class="{'disabled' : !stockComp.isLoggedIn()}"
          ng-click="stockComp.watch()"
          >Watching</button>
      <button class="btn btn-sm btn-danger"
          ng-hide="!stockComp.isWatchingBoolean"
          ng-class="{'disabled' : !stockComp.isLoggedIn()}"
          ng-disabled="!stockComp.isLoggedIn()"
          ng-click="stockComp.delete()"
          ><i class="fa fa-times text-white" aria-hidden="true"></i> Remove</button>
      <button class="btn btn-sm btn-primary"
          ng-class="{'disabled' : !stockComp.isLoggedIn()}"
          ng-disabled="!stockComp.isLoggedIn()"
          ng-click="stockComp.showForm()"
          >Buy</button>
      <strong><span class="badge">{{stockComp.ownedShares}}</span> Shares Owned</strong>
      <button class="btn btn-sm btn-primary"
          ng-hide="stockComp.isLoggedIn()"
          ui-sref="authState()"
          >Log in / Sign up</button>
      <form ng-submit="stockComp.submitBuy()" class="buy-form" ng-show="stockComp.isLoggedIn() && stockComp.showBuy">
        <div class="well">
          <label for="quantity">No. Shares: </label>
          <input name="quantity" class="quantity-input form-control" id="quantity-input" ng-show="stockComp.showBuy" ng-model="stockComp.quantity" type="number" required placeholder="#" autofocus/>
          <input ng-show="stockComp.showBuy" ng-class="{'disabled' : !stockComp.isLoggedIn()}" type="submit" class="btn btn-sm btn-success" value = "Submit"/>
          <strong class="green" ng-show="stockComp.showPurchased">{{stockComp.quantity}} purchased</strong>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <chart-comp></chart-comp>
    </div>
    <div class="col-md-4">
      <p>{{stockComp.stock.Timestamp}}</p>
      <table class="table table-striped table-bordered">
        <tbody>
          <tr>
            <th>LastPrice:</th>
            <td>{{stockComp.stock.LastPrice.toFixed(2)}}</td>
          </tr>
          <tr>
            <th>Open:</th>
            <td>{{stockComp.stock.Open.toFixed(2)}}</td>
          </tr>
          <tr>
            <th>High:</th>
            <td>{{stockComp.stock.High.toFixed(2)}}</td>
          </tr>
          <tr>
            <th>Low:</th>
            <td>{{stockComp.stock.Low.toFixed(2)}}</td>
          </tr>
          <tr>
            <th>Change, USD:</th>
            <td>
              {{stockComp.stock.Change.toFixed(2)}}
              <i ng-if="stockComp.stock.Change>0" class="fa fa-caret-up green" aria-hidden="true"></i>
              <i ng-if="stockComp.stock.Change<0" class="fa fa-caret-down red" aria-hidden="true"></i>
            </td>
          </tr>
          <tr>
            <th>Change, %:</th>
            <td>
              {{stockComp.stock.ChangePercent.toFixed(2)}} %
              <i ng-if="stockComp.stock.ChangePercent>0" class="fa fa-caret-up green" aria-hidden="true"></i>
              <i ng-if="stockComp.stock.ChangePercent<0" class="fa fa-caret-down red" aria-hidden="true"></i>
            </td>
          </tr>
          <tr>
            <th>Change YTD, USD:</th>
            <td>
              {{(stockComp.stock.LastPrice - stockComp.stock.ChangeYTD).toFixed(2)}}
              <i ng-if="(stockComp.stock.LastPrice - stockComp.stock.ChangeYTD)>0" class="fa fa-caret-up green" aria-hidden="true"></i>
              <i ng-if="(stockComp.stock.LastPrice - stockComp.stock.ChangeYTD)<0" class="fa fa-caret-down red" aria-hidden="true"></i>
            </td>
          </tr>
          <tr>
            <th>Change YTD, %:</th>
            <td>
              {{stockComp.stock.ChangePercentYTD.toFixed(2)}} %
              <i ng-if="stockComp.stock.ChangePercentYTD>0" class="fa fa-caret-up green" aria-hidden="true"></i>
              <i ng-if="stockComp.stock.ChangePercentYTD<0" class="fa fa-caret-down red" aria-hidden="true"></i>
            </td>
          </tr>
          <tr>
            <th>Volume:</th>
            <td>{{stockComp.stock.Volume}}</td>
          </tr>
          <tr>
            <th>MarketCap:</th>
            <td>{{stockComp.stock.MarketCap}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
