<div class="footer">

  <div class="footer-body">
    <div class="container">
      <div class="row">

        <div class="col-sm-6 resources">
          <h4>Resources</h4>
          <p><a class="lightgrey" href="http://dev.markitondemand.com/MODApis/">Markit On Demand API</a></p>
          <p><a class="lightgrey" href="http://www.highcharts.com/">Highcharts API</a></p>
          <p><a class="lightgrey" href="https://newsapi.org/">News API</a></p>
          <p><a class="lightgrey" href="https://webhose.io/">Webhose.io API</a></p>
        </div>
        <div class="col-sm-6 resources">
          <h4>Technologies</h4>
            <p>
              <span><img class="mongo-logo" src="./img/logos/mongodb.png" /></span>
              <span><img class="express-logo" src="./img/logos/express.png" /></span>
            </p>
            <p>
              <span><img class="angular-logo" src="./img/logos/angularjs.png" /></span>
              <span><img class="node-logo" src="./img/logos/nodejs.png" /></span>
            </p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div>
            <a class="lightgrey" href="https://github.com/Tommy-Lim/market-tracker"><i class="fa fa-github fa-2x" aria-hidden="true"></i> GitHub Repo</a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="lightgrey-no-hover">
            <a href="https://github.com/Tommy-Lim"> <i class="fa fa-github fa-2x lightgrey" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/tommy-lim"> <i class="fa fa-linkedin fa-2x blue" aria-hidden="true"></i></a>
            Tommy Lim
          </div>
        </div>
        <div class="col-sm-4">
          <div class="lightgrey-no-hover">
            <a href="https://github.com/1CTWgha"> <i class="fa fa-github fa-2x lightgrey" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/christopher-whitaker-37528397"> <i class="fa fa-linkedin fa-2x blue" aria-hidden="true"></i></a>
            Christopher Whitaker
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
