<div class="footer">

  <div class="footer-body">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 resources">
          <h4>Resources</h4>
          <p><a class="green" href="http://dev.markitondemand.com/MODApis/">Markit On Demand API</a></p>
          <p><a class="green" href="http://www.highcharts.com/">Highcharts API</a></p>
          <p><a class="green" href="https://newsapi.org/">News API</a></p>
        </div>

        <div class="col-sm-3 contributors">
          <h4>Contributors</h4>
          <p>
            Christopher Whitaker
             <a href="https://www.linkedin.com/in/christopher-whitaker-37528397"> <i class="fa fa-linkedin fa-1x green" aria-hidden="true"></i></a>
             <a href="https://github.com/1CTWgha"> <i class="fa fa-github fa-1x lightgrey" aria-hidden="true"></i></a>
          </p>
          <p>
            Tommy Lim
             <a href="https://www.linkedin.com/in/tommy-lim"> <i class="fa fa-linkedin fa-1x green" aria-hidden="true"></i></a>
             <a href="https://github.com/Tommy-Lim"> <i class="fa fa-github fa-1x lightgrey" aria-hidden="true"></i></a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h5>Copyright © 2017 <span class="green-no-hover">Market Tracker, Inc. </span> <a href="https://github.com/Tommy-Lim/market-tracker"><i class="fa fa-github fa-2x lightgrey" aria-hidden="true"></i></a></h5>
        </div>
      </div>
    </div>
  </div>

</div>
