<div class="container">

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h2>Search News</h2>
      <form>
        <div class="form-group">
          <input type="search" class="form-control" id="search" aria-describedby="search" placeholder="Search News: 'AAPL' or 'Netflix' or 'Finance'" ng-model="newsComp.query">
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div ng-repeat="article in newComp.articles" class="col-md-6">
      <div class="media panel">
        <div class="media-left">
          <a href="{{article.url}}">
            <img class="media-object" src="{{article.urlToImage}}" alt="...">
          </a>
        </div>
        <div class="media-body">
          <p class="media-heading">
            {{article.title}}
          </p>
          <p><a href="{{article.url}}"><i class="fa fa-external-link fa-1x" aria-hidden="true"></i></a> {{article.publishedAt.split("T")[0] + " T " + article.publishedAt.split("T")[1].split(".")[0]}}</p>
        </div>
      </div>
    </div>
  </div>

</div>
