<div class="container">

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h2>Search News</h2>
      <form ng-submit="newsComp.search(newsComp.query)">
        <div class="form-group">
          <input type="search" class="form-control" id="search" placeholder="Search News: 'AAPL' or 'Netflix' or 'Finance'" ng-model="newsComp.query">
        </div>
      </form>
    </div>
  </div>

  <hr />
  <img ng-if="newsComp.isLoading == true" class="loading-gif news" src="img/loading.gif" />
  <h4 ng-show="newsComp.articles.length == 0 && newsComp.query !== null">No articles found for "{{newsComp.queryResult}}".</h4>
  <div ng-show="newsComp.articles.length > 0">
    <h4 class="search-result-number">({{newsComp.articles.length}}) articles found for "{{newsComp.queryResult}}":</h4>
    <form>
      <div class="form-group">
        <label for="mySelect">Show </label>
        <select name="mySelect" id="mySelect"
          ng-options="option.num for option in newsComp.limits.availableOptions track by option.id"
          ng-model="newsComp.limits.selectedOption"></select>
      </div>
    </form>
  </div>

  <div class="row">
    <div ng-repeat="article in newsComp.articles | limitTo:newsComp.limits.selectedOption.num" class="col-md-6">
      <a href="{{article.thread.url}}">
        <div class="media panel">
          <div class="media-left">
            <img class="media-object" src="{{article.thread.main_image}}" alt="...">
          </div>
          <div class="media-body">
            <p class="media-heading">
              {{article.thread.title}}
            </p>
            <p>{{article.thread.published.split("T")[0] + " T " + article.thread.published.split("T")[1].split(".")[0]}}</p>
          </div>
        </div>
      </a>
    </div>
  </div>

</div>
