<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse-target" ng-click="navbarComp.toggleOverlay()">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" ui-sref="homeState()"><i class="fa fa-line-chart" aria-hidden="true"></i> <strong><i>MT</i></strong></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="nav-collapse-target">
    <ul class="nav navbar-nav navbar-right">
      <li ui-sref-active="active" data-toggle="collapse" data-target="#nav-collapse-target" ng-click="navbarComp.hideOverlay()"><a ui-sref="newsState({query: ''})">NEWS</a></li>
      <li ui-sref-active="active" data-toggle="collapse" data-target="#nav-collapse-target" ng-click="navbarComp.hideOverlay()"><a ng-show="navbarComp.isLoggedIn()" ui-sref="portfolioState">PORTFOLIO</a></li>
      <li ui-sref-active="active" data-toggle="collapse" data-target="#nav-collapse-target" ng-click="navbarComp.hideOverlay()"><a ng-show="navbarComp.isLoggedIn()" ui-sref="authState()" ng-click="navbarComp.logout()">LOGOUT</a></li>
      <li ui-sref-active="active" data-toggle="collapse" data-target="#nav-collapse-target" ng-click="navbarComp.hideOverlay()"><a ng-hide="navbarComp.isLoggedIn()" ui-sref="authState()">LOG IN / SIGN UP</a></li>
    </ul>

    <form class="navbar-form" role="search" ng-submit="navbarComp.search()">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search stocks" ng-model="navbarComp.query" />
        <span class="input-group-btn">
          <button type="reset" class="btn btn-default">
            <span class="glyphicon glyphicon-remove">
              <span class="sr-only">Close</span>
            </span>
          </button>
          <button type="submit" class="btn btn-default" data-toggle="collapse" data-target="#nav-collapse-target">
            <span class="glyphicon glyphicon-search">
              <span class="sr-only">Search</span>
            </span>
          </button>
        </span>
      </div>
    </form>
  </div><!-- /.navbar-collapse -->
  <div class="unfocus-body" data-toggle="collapse" data-target="#nav-collapse-target" ng-click="navbarComp.hideOverlay()" ng-show="navbarComp.showOverlayVar"></div>
</div><!-- /.container-fluid -->
</nav>
