<div class="container search-container">
  <form ng-submit="searchComp.search(searchComp.query)">
    <div class="form-group">
      <input name="search" class="form-control" placeholder="search" ng-model="searchComp.query" required />
    </div>
    <input type="submit" />
  </form>

  <br />

  <h4 ng-hide="searchComp.results == null">{{searchComp.results.length}} Results</h4>

  <hr />

  <a ng-repeat="result in searchComp.results" ui-sref="stockState({symbol: result.Symbol})">
    <div class="panel">
      <p><strong>{{result.Symbol}}</strong>, {{result.Name}} - {{result.Exchange}}</p>
    </div>
  </a>

</div>
